.button {
  background: var(--color);
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: var(--radius);
  font-family: inherit;
  color: white;
  margin: auto;

}

.buttonPink {
  composes: button;
  background:  #943EEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  width: 120px;
  border-radius: 25px;
}

.buttonPink:hover{
  background-color: #A558F5;
}

.buttonLarge {
  composes: buttonPink;
  width: 85%;
  margin-bottom: 1rem;
}
.buttonDark{
  composes: buttonLarge;
  background-color:#1F2937;
}
.buttonDark:hover{
  background-color: #374151;
}
