.button {
  background: var(--color);
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: var(--radius);
  font-family: inherit;
  color: white;
  margin: auto;

}

.buttonPink {
  composes: button;
  background:  #943EEA;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically if the container has height */
  text-align: center;     /* Center text */
  margin-top: 1rem;
  width: 120px;
  border-radius: 25px;



}

.buttonPink:hover{
  background-color: #A558F5;
}

.buttonLarge {
  composes: buttonPink;
}
